In [13]:
import numpy as np
import pandas as pd
from pandas import DataFrame as df

In [14]:
def change_orbit_format():
    """
    
    This function will change the format of the orbital file to one that is is needed for Sorcha to run properly.
    In order to do so, I need to only keep the following columns: a, e, inc, Omega, varpi, M.
    Omega must be renamed to 'node', varpi to 'argPeri', and M to 'ma'. There are also spaces included before every
    column name, so the spaces must be deleted through the renaming process.
    The rest of the columns must be dropped from the table, since sorcha won't recognize them.
    
    Sorcha also needs information about the simulated object's ID,  format type, and epoch MJD. 
    
    Parameters:
        df_orbit = Converted the inputted csv file into a dataframe
        objID = Array of object ID names that will be added to the orbital table
        mjd = Converting from julian date to modern julian date by subtracting JD by 2400000.5 days
    
    Column names:
        ObjID = Names of all of the simulated objects (string)
        FORMAT = Orbit format string (Keplerian ('KEP') in this case)
        a = Semimajor axis (AU)
        
        e = Eccentricity
        inc = Inclination (degrees)
        node = Longitude of the ascending node (degrees)
        argPeri = Argument of perihelion (degrees)
        ma = Mean anomaly (degrees)
        epochMJD_TBD = Epoch (MJD) (JD=2458270.0 in this case)
    
    In order to determine the object's ID, we must add one whole integer to the object name every time we loop
    through a row. For Keplerian formats, we need to use the object ID of t(some integer). For example if we go
    through index 1, then the object ID will be 't1'. Each of the object IDs will be stored in an array that will
    be inserted at the beginning of the table. 
    
    Since the MJD and format type doesn't change, we don't need to create a loop. Instead, we can just insert the
    FORMAT column as the second column with the only value of 'KEP'. The MJD column can be added to the end of the
    table with the only MJD value of June 1, 2018, since that is the day when the simulation was completed.
    
    """
    
    df_orbit = pd.read_csv('reference_population.csv',
                 skiprows = [0,1,2,3], #Skips the rows with the comments about the specific columns
                 index_col = ["index"])
    
    df_orbit = df_orbit.rename(columns = {' Omega':'node',' varpi':'argPeri',' M':'ma',
                                          ' a':'a', ' e':'e', ' inc':'inc'}) #Renames columns to sorcha names
    
    df_orbit = df_orbit.drop(columns = [' mass',' ra', ' dec', ' R', ' rad', ' albedo', ' V',
                  ' ZTF', ' DES', ' PS1']) #Drops unneeded columns
    
    #Creating simulated object names
    objID = []
    mjd = 2458270.0 - 2400000.5

    for i in range(len(df_orbit)):
        objID.append('t' + str(i)) #Creates name of object and adds to array that will be included in table
        
        
    df_orbit.insert(0,"ObjID", objID) #Inserts object ID into first column of table
    df_orbit.insert(1, "FORMAT", 'KEP') #Inserts the keplerian format into second column of table
    df_orbit["epochMJD_TBD"] = mjd #Adds the same MJD for all objects to end of table
    
    return df_orbit

In [15]:
orbit_file = change_orbit_format()
orbit_file

,ObjID,FORMAT,a,e,inc,argPeri,node,ma,epochMJD_TBD
index,,,,,,,,,
0,t0,KEP,249.58,0.074,12.50,252.85,48.03,72.60,58269.5
1,t1,KEP,375.45,0.232,14.13,237.85,111.55,55.36,58269.5
2,t2,KEP,944.92,0.502,18.60,237.12,95.17,71.09,58269.5
3,t3,KEP,517.69,0.605,20.88,229.64,94.30,204.74,58269.5
4,t4,KEP,337.08,0.083,17.94,251.60,68.47,134.16,58269.5
...,...,...,...,...,...,...,...,...,...
99995,t99995,KEP,358.59,0.337,7.15,249.31,114.86,328.08,58269.5
99996,t99996,KEP,692.75,0.382,14.90,235.17,120.02,280.20,58269.5
99997,t99997,KEP,295.85,0.089,16.64,242.69,106.49,156.96,58269.5
99998,t99998,KEP,425.21,0.194,11.41,249.82,111.51,146.16,58269.5
99999,t99999,KEP,319.60,0.211,6.25,257.06,124.64,68.71,58269.5

In [16]:
orbit_file.to_csv("orbit_param.txt", index = False, sep=' ')

In [17]:
! head orbit_param.txt

ObjID FORMAT a e inc argPeri node ma epochMJD_TBD
t0 KEP 249.58 0.074 12.5 252.85 48.03 72.6 58269.5
t1 KEP 375.45 0.232 14.13 237.85 111.55 55.36 58269.5
t2 KEP 944.92 0.502 18.6 237.12 95.17 71.09 58269.5
t3 KEP 517.69 0.605 20.88 229.64 94.3 204.74 58269.5
t4 KEP 337.08 0.083 17.94 251.6 68.47 134.16 58269.5
t5 KEP 278.45 0.317 20.1 247.9 121.33 99.15 58269.5
t6 KEP 275.19 0.151 18.73 259.4 98.51 264.27 58269.5
t7 KEP 504.83 0.356 21.51 233.43 105.46 69.63 58269.5
t8 KEP 391.04 0.226 11.97 246.98 76.04 128.71 58269.5